@font-face {
  font-family: "Tecate";
  src: url('fonts/Tecate-7DXD.ttf');
}  

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito", sans-serif;
  background-image: url(pictures/background.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/*section 1*/
.me {
  margin-top: 2%;
  display: flex;
  height: 70vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(pictures/main-img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(5px);
}
.me-content img {
  position: absolute;
  bottom: 0%;
  right: -10%;
  width: 29%;
}
.me-content h1 {
  color: #00d742;
  position: absolute;
  left: 27%;
  top: 30%;
  font-size: 30px;
  letter-spacing: 10px;
}
.me-content p {
  position: absolute;
  left: 30%;
  top: 45%;
  font-size: 15px;
  letter-spacing: 5px;
}
.me-btn-1 {
  position: absolute;
  bottom: 20%;
  left: 30%;
  width: 200px;
  height: 50px;
  background-color: #00d742;
  border: 0;
  border-radius: 20px;
}
.me-btn-1 a {
  text-decoration: none;
  color: white;

}
.me-btn-1::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.me-btn-1:hover span {
  letter-spacing: 2px;
}
.me-btn-1:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.me-btn-1::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.me-btn-1:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
.me-btn-2 {
  position: absolute;
  bottom: 20%;
  left: 45%;
  width: 200px;
  height: 50px;
  background-color: transparent;
  color: black;
  border: solid #00d742;
  border-radius: 20px;
}
.me-btn-2 a {
  text-decoration: none;
  color: black;

}
.me-btn-2::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.me-btn-2:hover span {
  letter-spacing: 2px;
}
.me-btn-2:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.me-btn-2::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.me-btn-2:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}
/*------------*/
/*section - 2 ---------*/
.skills {
  display: flex;
  margin-top: 100px;
}
/*--------------*/
.slide {
  display: flex;
}

.navigation {
  box-shadow: 0px 24px 17px 4px rgba(0, 0, 0, 0.1);
}
.navigation img {
  width: 5rem;
}
.navigation h1 {
  width: 5rem;
}

.slide {
  width: 50%;
}
.carousel {
  border-radius: 100% 100% 0 0;
  margin-left: 70px;
  margin-right: 70px;
}
.img {
  width: 100%;
}
/*section 2------*/
#SkillsTitle {
  color: white;
  font-family: "Baloo 2", cursive;
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}
.skill-card {
  display: none;
}
.project-card {
  display: none;
}
#project-img {
  width: 100%;
}
.terminal {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin-left: 10px;
  font-family: "Modeseven-L3n5";
  color: #00fe46;
}
.fakeButtons {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  position: relative;
  top: 6px;
  left: 6px;
  background-color: #ff3b47;
  border-color: #9d252b;
  display: inline-block;
}

.fakeMinimize {
  left: 11px;
  background-color: #ffc100;
  border-color: #9d802c;
}

.fakeZoom {
  left: 16px;
  background-color: #00d742;
  border-color: #049931;
}
.fakeMenu {
  width: 550px;
  box-sizing: border-box;
  height: 25px;
  background-color: #bbb;
  margin: 0 auto;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.fakeScreen {
  background-color: #151515;
  box-sizing: border-box;
  width: 550px;
  height: 250px;
  margin: 0 auto;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  box-shadow: 0px 24px 17px 4px rgba(0, 0, 0, 0.1);
  font-family: 'Handjet', cursive;
  font-size: 150%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 100px;
  width: 100px;
  outline: black;
  background-size: 100%, 100%;
  border-radius: 50%;
  border: 1px solid black;
  background-image: none;
  background-color: black;
}
.btn {
  width: 100%;
  border: 0;
}

.input {
  background-color: transparent;
  border: 0;
  outline: 0;
  color: red;
}

/*card*/

.skill-card {
  border: none;
  border-radius: 10px;
}

.c-details span {
  font-weight: 300;
  font-size: 13px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: #eee;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 39px;
}
.icon img {
  width: 70%;
}

.badge span {
  background-color: #fffbec;
  width: 60px;
  height: 25px;
  padding-bottom: 3px;
  border-radius: 5px;
  display: flex;
  color: #fed85d;
  justify-content: center;
  align-items: center;
}

.progress {
  height: 10px;
  border-radius: 10px;
}

.progress div {
  background-color: red;
}

.text1 {
  font-size: 14px;
  font-weight: 600;
}

.text2 {
  color: #a5aec0;
}
@media screen and (max-width: 1310px) {
  img {
    display: none;
  }
  .me-btn-1 {
    top: 80%;
  }
  .me-btn-2 {
    top: 80%;
    left: 50%;
  }
  .me-content h1 {
    color: #00d742;
    position: absolute;
    left: 5%;
    top: 30%;
    font-size: 55px;
    letter-spacing: 10px;
  }
  .me-content p {
    color: #00d742;

    position: absolute;
    left: 5%;
    top: 45%;
    font-size: 30px;
    letter-spacing: 5px;
  }
}
@media screen and (max-width: 954px) {
  .me-btn-1 {
    left: 5%;
  }
  .me-btn-2 {
    left: 51%;
    color: #bbb;
  }
  .me-content h1 {
    color: #00d742;
    position: absolute;
    left: 5%;
    top: 25%;
    font-size: 35px;
    letter-spacing: 10px;
  }
  .me-content p {
    color: #00d742;
    position: absolute;
    left: 5%;
    top: 45%;
    font-size: 15px;
    letter-spacing: 5px;
  }
}
/*++++++++++++++++++++++++++++++++*/

/* This pen */
.about-me {
  font-family: "Baloo 2", cursive;
  font-size: 16px;
  color: #ffffff;
  text-rendering: optimizeLegibility;
  font-weight: initial;
}

a,
a:hover {
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

#pageHeaderTitle {
  margin: 2rem 0;
  text-transform: uppercase;
  text-align: center;
  font-size: 2.5rem;
}

/* Cards */
.postcard {
  flex-wrap: wrap;
  display: flex;

  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
  border-radius: 10px;
  margin: 0 0 2rem 0;
  overflow: hidden;
  position: relative;
  color: #ffffff;

  &.dark {
    background-color: #18151f;
  }
  &.light {
    background-color: #e1e5ea;
  }

  .t-dark {
    color: #18151f;
  }

  a {
    color: inherit;
  }

  h1,
  .h1 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
  }

  .small {
    font-size: 80%;
  }

  .postcard__title {
    font-size: 1.75rem;
  }

  .postcard__img {
    max-height: 180px;
    width: 100%;
    object-fit: cover;
    position: relative;
  }

  .postcard__img_link {
    display: contents;
  }

  .postcard__bar {
    width: 50px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #424242;
    transition: width 0.2s ease;
  }

  .postcard__text {
    padding: 1.5rem;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .postcard__preview-txt {
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    height: 100%;
  }

  .postcard__tagbox {
    display: flex;
    flex-flow: row wrap;
    font-size: 14px;
    margin: 20px 0 0 0;
    padding: 0;
    justify-content: center;

    .tag__item {
      display: inline-block;
      background: rgba(83, 83, 83, 0.4);
      border-radius: 3px;
      padding: 2.5px 10px;
      margin: 0 5px 5px 0;
      cursor: default;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(83, 83, 83, 0.8);
      }
    }
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-70deg, #424242, transparent 50%);
    opacity: 1;
    border-radius: 10px;
  }

  &:hover .postcard__bar {
    width: 100px;
  }
}

@media screen and (min-width: 769px) {
  .postcard {
    flex-wrap: inherit;

    .postcard__title {
      font-size: 2rem;
    }

    .postcard__tagbox {
      justify-content: start;
    }

    .postcard__img {
      max-width: 300px;
      max-height: 100%;
      transition: transform 0.3s ease;
    }

    .postcard__text {
      padding: 3rem;
      width: 100%;
    }

    .media.postcard__text:before {
      content: "";
      position: absolute;
      display: block;
      background: #18151f;
      top: -20%;
      height: 130%;
      width: 55px;
    }

    &:hover .postcard__img {
      transform: scale(1.1);
    }

    &:nth-child(2n + 1) {
      flex-direction: row;
    }

    &:nth-child(2n + 0) {
      flex-direction: row-reverse;
    }

    &:nth-child(2n + 1) .postcard__text::before {
      left: -12px !important;
      transform: rotate(4deg);
    }

    &:nth-child(2n + 0) .postcard__text::before {
      right: -12px !important;
      transform: rotate(-4deg);
    }
  }
}
@media screen and (min-width: 1024px) {
  .postcard__text {
    padding: 2rem 3.5rem;
  }

  .postcard__text:before {
    content: "";
    position: absolute;
    display: block;

    top: -20%;
    height: 130%;
    width: 55px;
  }

  .postcard.dark {
    .postcard__text:before {
      background: #18151f;
    }
  }
  .postcard.light {
    .postcard__text:before {
      background: #e1e5ea;
    }
  }
}
article {
  padding: 20px;
}
.ti {
  text-decoration: dashed;
  color: #00d742;
}
/*contact*/
.contact{
  padding: 4%;
  height: 400px;
}
.col-md-3{
  background: #00d742;
  padding: 4%;
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
}
.contact-info{
  margin-top:10%;
}
.contact-info img{
  margin-bottom: 15%;
}
.contact-info h2{
  margin-bottom: 10%;
}
.col-md-9{
  background: #fff;
  padding: 3%;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
}
.contact-form label{
  font-weight:600;
}
.contact-form button{
  background: #25274d;
  color: #fff;
  font-weight: 600;
  width: 25%;
}
.contact-form button:focus{
  box-shadow:none;
}
.form-group {
  margin-top: 20px;
}